.section3 {
    &__content {
        width: 70%;
        h2 {
            font-size: 48px;
            font-weight: 400;
            margin-top: 0;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
        }
    }
}