.products {
    background-color: var(--color-white_blueish);
    .header {
        color: var(--color-blue_dark);
        &__main {
            background-image: none;
        }
        &__top {
            border-bottom: 2px solid #91bfe5;
        }
    }
    .banner {
        background-color: #dce2f3;
    }
    &__slider {
            .section__title {
                width: 60%;
            }
    }
}

.all-products {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    &__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 5rem;
        &-image {
            background-color: #dce2f3;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            img {
                width: 100%;
            }
        }
        &-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-right: 2rem;
            h3 {
                line-height: 29px;
                width: 90%;
            }
            p {
                width: 90%;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%
            }
        }
    }

}