@media (max-width: 930px) {
    .header {
        &__title {
            font-size: 42px;
        }
        &__top {
            gap: 3rem;
        }
        &__nav {
            & ul {
                gap: 1rem;
            }
        }

    }
    .section {
        &__title {
            width: 75%;
            font-size: 38px;
        }
    }

    .banner {
        & .section__title {
            width: 60%;
        }
    }

    .section1 {
        &__cards {
            gap: 3rem;
        }
    }

    .section3 {
        &__content {
            width: 80%;
            & h2 {
                font-size: 42px;
            }
        }
    }
    .pad_ver_5 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .all-products {
        &__item {
            gap: 2rem;
            &-image {
                height: 100%;
            }
            &-content {
                padding-right: 1rem;
    
                & p,h3  {
                    width: 100%;
                }
            }
        }
    }
    .contact {
        &__item {
            & p {
                width: 80%;
            }
        }
    }
}

@media (max-width: 700px) {
    .padding_normal {
        padding-left: 2%;
        padding-right: 2%;
    }
    .header {
        &__title  {
            font-size: 30px;
        }
        &__top {
            gap: 1rem;
        }
    }

    .section {
        padding-top: 5rem;
        &__title {
            font-size: 25px;
            width: 60%;
        }
        &__sub {
            font-size: 16px;
        }
    }
    .section1 {
        &__cards {
            display: flex;
            flex-direction: column;

        }
    }
    .title__number {
        font-size: 30px;
    }

    .section3 {
        &__content  {
            width: 100%;
             & h2 {
                font-size: 30px;
             }
        }
    }
    .banner {
        & .section__title {
            width: 60%;
        }
    }

    .gallery {
        grid-template-areas: "c1 c4 c10" "c1 c7 c10" "c5 c7 c9";

        &__item_7 {
            padding: 1rem;
            gap: 10px;
            & p {
                font-size: 14px;
            }
            & h3 {
                font-size: 20px;
            }
        }

        &__item_2 {
            display: none;
        }
        &__item_3 {
            display: none;
        }

        &__item_8 {
            display: none;
        }

        &__item_6 {
            display: none;
        }
    }
    

    .footer {
        margin-top: 6rem;
        padding: 3rem 0;
        &__container {
            display: grid;
            gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
            & .card {
                max-width: 250px;
            }
        }
    }

    .contact {
        &__container {
            display: flex;
            flex-direction: column;
        }
    }
    .section5 {
        &__countries {
            width: 90%;
        }
    }
}

@media (max-width: 550px) {
    .pad_ver_5 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .header {
        &__nav {
            position: relative;
            &::before {
                content: "㆔";
            }
            &:hover {
                & ul {
                    opacity: 1;
                    visibility: visible;
                    height: max-content;
                    width: max-content;
                }
            }
            ul {
                color: white;
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                box-shadow: 0 15px 15px rgba(blue, 0.5);
                padding: 1rem;
                z-index: 1;
                gap: 1rem;
                top: 0;
                right: 0;
                opacity: 0;
                height: 0;
                visibility: hidden;
                background-color: var(--color-blue_light);
                border-radius: 1rem;
                a {
                    padding: 0;
                    &:hover {
                        border-bottom: 2px solid var(--color-blue_dark);
                    }
                }
                & .link_active {
                    border-bottom: 2px solid var(--color-blue_dark);
                }
            }
        }
    }
    .banner {
        & .section__title {
            width: 100%;
        }
    }

    .card__title {
        font-size: 20px;
    }
    .title__number {
        font-size: 25px;
    }
    .section {
        &__title {
            width: 90%;
        }
    }
    .section2 .divided {
        grid-template-columns: 1fr;
        justify-content: center;
        justify-items: center;  
    }

    .section3 {
        &__content  {
            width: 100%;
             & h2 {
                font-size: 25px;
             }
        }
    }

    .section5 {
        &__countries {
            width: 100%;
            font-size: 14px;
            justify-content: center;
            & .card {
                gap: 0rem;
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .gallery {
        grid-template-areas: "c4" "c7" "c9";

        &__item_7 {
            padding: 1rem;
            gap: 10px;
            & p {
                font-size: 14px;
            }
            & h3 {
                font-size: 20px;
            }
        }
        &__item_1 {
            display: none;
        }

        &__item_2 {
            display: none;
        }
        &__item_3 {
            display: none;
        }

        &__item_5 {
            display: none;
        }
        &__item_6 {
            display: none;
        }
        &__item_8 {
            display: none;
        }
        &__item_6 {
            display: none;
        }
        &__item_10 {
            display: none;
        }
    }
    .all-products {
        &__item {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
    }
    .products__slider {
        & .section__title {
            width: 100%;
        }
    }
    
    .footer {
        margin-top: 3rem;
        padding: 2rem 0;
        &__container {
            display: grid;
            gap: 1rem;
            grid-template-columns: 1fr;
            text-align: center;
            & .card {
                max-width: 250px;
            }
        }
    }
}