.library {
    max-width: 1445px;
    margin: 0 auto;
    &__header {
        background: #f2f2f2;
        height: 701px;
        position: relative;
        overflow: hidden;
        &__navbar {
            opacity: 0.7;
            background: rgba(255, 255, 255, 0.7);
            backdrop-filter: blur(7.5px);
            height: 82px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 5%;
            padding-right: 5%;
            img {
                height: 42px;
                cursor: pointer;
            }
            div {
                display: flex;
                gap: 3.5rem;
                span {
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: 700;
                    a {
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
        &__content {
            background-image: url('../images/library-effect.png');
            background-size: cover;
            background-position: 25% 55%;
            position: relative;
            height: 619px;
            top: 0;
            bottom: 0;
            span {
                position: absolute;
                bottom: 7%;
                font-size: 20px;
                color: #fdc9c4;
                font-weight: 700;
                left: 7%;
            }
            .banner-logo {
                position: absolute;
                left: 43%;
                top: 64%;
            }
            .learn {
                position: absolute;  
                bottom: 0;
            }
        }
    }
    &__content {
        padding: 7%;
        &__stages {
            display: flex;
            align-items: center;
            gap: 40px;
            div {
                display: flex;
                align-items: center;
                gap: 33px;
            }
        }
        &__cards {
            margin-top: 4rem;
            display: flex;
            gap: 3.8rem;
            justify-content: space-between;
            flex-wrap: wrap;
            .card {
                position: relative;
                background: #f2f2f2;
                width: 370px;
                height: 235px;
                cursor: pointer;
                a{
                    color: black;
                    text-decoration: none;
                }
                &__header {
                    display: flex;
                    width: 88%;
                    margin: 0 auto;
                    margin-top: 0.5rem;
                    justify-content: space-between;
                    h1 {
                        font-size: 35px;
                        font-weight: 700;
                    }
                }
                &__footer {
                    display: flex;
                    flex-direction: column;
                    width: 92%;
                    
                    text-align: right;
                    align-items: flex-end;
                    margin: 0 auto;
                    position: absolute;
                    bottom: 20px;
                    span {
                        font-weight: 700;
                        font-size: 25px;
                    }
                    p {
                        margin: 0;
                        font-size: 20px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
    
    &__footer {
        padding: 2.5%;
        background: #f2f2f2;
        span {
            font-weight: 700;
            font-size: 16px;
        }
    }
}
