.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: max-content;
    cursor: pointer;
    transition: 300ms ease;
    &:active {
        transform: scale(0.9);
    }
    &__container {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
}