.about {
    background-color: var(--color-gray_blue);
    .header {
        color: var(--color-blue_dark);
        &__main {
            background-image: none;
        }
        &__top {
            border-bottom: none;
        }
    }
}