.footer {
    margin-top: 10rem;
    padding: 5rem 0;
    background-color: var(--color-gray_blue);
    border-top: 1px solid #B6C2D8;
    &__title {
        color: var(--color-gray);
    }
    &__text {
        color: var(--color-blue_dark);
        font-weight: 500;
        font-size: 16px;
        margin: 0;
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
        justify-content: center;
        justify-items: center;
        gap: 3rem;
    }
}