.section5 {
    &__countries {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 60%;
        flex-wrap: wrap;
        img {
            width: 50px;
        }
    }
}